    <!--at the end of the line ctr+C and Ctr+V to duplicate multiple li, first version of the code commented out
    <nav class="navbar">
        <ul>
            
            <li><a href="{{url_for('index')}}">Home</a></li> 
            <li><a href="{{url_for('about')}}">About</a></li>
            <li><a href="{{url_for('contact')}}">Contact</a></li>
            <li><a href="{{ url_for('careers') }}">Careers</a></li>
        </ul>
    </nav>
    
    {% block content %}
    {% endblock %}-->

    <!--iterating over a python list

        1. in run.py write- 
        @app.route("/about")
def about():
    return render_template("about.html", page_title="About", list_of_numbers=[1, 2, 3])

    2. In about page iterate over a list:
    
        {% for number in list_of_numbers %}
        <p>{{ number }}</p>
        {% endfor %}

// format with CTR+A, K, F,

   